@model ProductViewModel

@{
    ViewBag.Title = "Product Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="DetailsProducts">
    <div class="container" style="display:inline">
        <div class="row">
            <div class="col-4">
                <img class="card-img-top" style="width: 20rem;"
                     src="@Model.ImageUrl" alt="Gym Image">
            </div>
            <div class="card-body col-8 border-0">
                <p style="font-size:25px; color:white"><u>@Model.Name</u></p>
                <p style="color:white">Mark: <b>@Model.Mark</b></p>
                <p style="color:white">Description: <b>@Model.Description</b></p>
                <p style="color:wheat">Price: <b>@Model.Price</b>$</p>

            </div>
        </div>
    </div>
</div>

