@model IEnumerable<UserTrainersFormModel>

@{
    ViewBag.Title = "All Appointents";


}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


@if (!Model.Any())
{
    <div class="AllUsersEmpty" style="background-color:black">
        <div class="container">
            <table class="table table-striped" style="color: white">
                <thead>
                    <tr>
                        <th><label class="text-white">Full Name</label></th>
                        <th><label class="text-white">Email</label></th>
                        <th><label class="text-white">AppointmentTime</label></th>
                        <th><label class="text-white">Trainer Name</label></th>
                        <th><label class="text-white">Action</label></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Where(x => x.Email != null))
                    {
                        <tr>
                            <td><label class="text-white">@user.ClientFullName</label></td>
                            <td><label class="text-white">@user.Email</label></td>
                            <td><label class="text-white">@user.AppointmentTime</label></td>
                            <td><label class="text-white">@user.TrainerName</label></td>
                            <td>

                                <a asp-route-id="@user.Id" asp-area="Admin" asp-controller="Appointment" asp-action="Delete" class="delete" title="Delete" data-toggle="tooltip" method="get"><i class="material-icons">&#10008;</i></a>
                                <a asp-route-id="@user.Id" asp-area="Admin" asp-controller="Appointment" asp-action="Approve" class="Approve" title="Approve" data-toggle="tooltip" method="post"><i class="material-icons">✔️</i></a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="AllUsers" style="background-color:black">
        <div class="container" >
            <table class="table table-striped" style="color: white">
                <thead>
                    <tr>

                        <th><label class="text-white">Full Name</label></th>
                        <th><label class="text-white">Email</label></th>
                        <th><label class="text-white">AppointmentTime</label></th>
                        <th><label class="text-white">Trainer Name</label></th>
                        <th><label class="text-white">Action</label></th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Where(x => x.Email != null))
                    {
                        <tr>
                            <td><label class="text-white">@user.ClientFullName</label></td>
                            <td><label class="text-white">@user.Email</label></td>
                            <td><label class="text-white">@user.AppointmentTime</label></td>
                            <td><label class="text-white">@user.TrainerName</label></td>
                            <td>

                                <a asp-route-id="@user.Id" asp-area="Admin" asp-controller="Appointment" asp-action="Delete" class="delete" title="Delete" data-toggle="tooltip" method="get"><i class="material-icons">&#10008;</i></a>
                                <a asp-route-id="@user.Id" asp-area="Admin" asp-controller="Appointment" asp-action="Approve" class="Approve" title="Approve" data-toggle="tooltip" method="post"><i class="material-icons">✔️</i></a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

