@model EditTrainerFormModel

@{
    ViewBag.Title = "Edit";
}

<div class="EditTrainers">
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <form method="post">
                <div class="form-group">
                    <div class="mb-3">
                        <label asp-for="Name"><h5 class="text-white"><i>Name</i></h5></label>
                        <input asp-for="Name" class="form-control" placeholder="Write your title here...">
                        <span asp-validation-for="@Model.Name" class="small text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Info"><h5 class="text-white"><i>Info</i></h5></label>
                        <input asp-for="Info" class="form-control" placeholder="Write your post here...">
                        <span asp-validation-for="@Model.Info" class="small text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ImageUrl"><h5 class="text-white"><i>Image</i></h5></label>
                        <input asp-for="ImageUrl" class="form-control" placeholder="Write your post here...">
                        <span asp-validation-for="@Model.ImageUrl" class="small text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Practis"><h5 class="text-white"><i>Practis</i></h5></label>
                        <input asp-for="Practis" class="form-control" placeholder="Write your post here...">
                        <span asp-validation-for="@Model.Practis" class="small text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="PricePerHour"><h5 class="text-white"><i>PricePerHour</i></h5></label>
                        <input asp-for="PricePerHour" class="form-control" placeholder="Write your post here...">
                        <span asp-validation-for="@Model.PricePerHour" class="small text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Type"><h5 class="text-white"><i>Type</i></h5></label>
                        <input asp-for="Type" class="form-control" placeholder="Write your post here...">
                        <span asp-validation-for="@Model.Type" class="small text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Motto"><h5 class="text-white"><i>Motto</i></h5></label>
                        <input asp-for="Motto" class="form-control" placeholder="Write your post here...">
                        <span asp-validation-for="@Model.Motto" class="small text-danger"></span>
                    </div>
                </div>
                <input class="btn btn-primary mt-2" type="submit" value="Edit" />
            </form>
        </div>

    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
