@model IEnumerable<GymsViewModel>

@{
    ViewBag.Title = "Welcome to Our Gyms";
    
}


<h2 class="text-center">@ViewBag.Title</h2>

<div class="AllGyms">
    <div class="text-center row">
        @foreach (var gym in Model)
        {

            <div class="card col-7 " style="width: 35rem;">
                <img class="card-img-top form-check-inline " style="width: 34rem; height:250px;"
                     src="@gym.ImageUrl" alt="Gym Image" onclick="Infinity" }>
                <div class="card-body">

                    <h5 class="card-title mt-1">@gym.Name</h5>
                    <p class="mb-0">Type: @gym.Type</p>
                </div>
                @if (User?.Identity?.IsAuthenticated ?? false)
                {

                    <div class="d-flex justify-content-center">
                        <a asp-route-id="@gym.Id" asp-controller="Gym" asp-action="Details" method="post">
                            <input type="submit" value="Details" class="btn btn-primary btn-md" />
                        </a>
                    </div>
                }
            </div>


        }
    </div>
</div>


