@model GymsViewModel

@{
    ViewBag.Title = "Gym Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="GymDetails">
    <div class="container" style="display:inline">
        <div class="row">
            <div class="col-4">
                <img class="card-img-top" @*style="width: 20rem;"*@
                     src="@Model.ImageUrl" alt="Gym Image">
            </div>         
                <div class="card-body col-8 border-0" style="color:black">
                    <div class="color">
                    <p style="font-size:25px; color:white"><u>@Model.Name</u></p>
                    <p style="color:white">Description: <b>@Model.Description</b></p>
                    <p style="color:wheat">Type: <b>@Model.Type</b></p>
                    <div class="form-inline">
                        @if (this.User.Identity?.IsAuthenticated ?? false)
                        {
                            if (!User.IsInRole("Administrator"))
                            {
                                <a class="ml-2 btn btn-danger" asp-controller="Trainer" asp-action="TrainerView"
                                   asp-route-gymId="@Model.Id">Choose Trainer</a>
                            }

                        }
                    </div>
                </div>
                   
            </div>                      
        </div>
    </div>
</div>

