@model IEnumerable<ProductViewModel>

@{
    int totalProductCount = 0;
    ViewBag.Title = "Products";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Table with Add and Delete Row Feature</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style type="text/css">
        body {
            color: #404E67;
            background: black;
        }
        .table-wrapper {
            width: 700px;
            margin: 60px auto;
            background: #fff;
            padding: 20px;
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }

        .table-title {
            padding-bottom: 10px;
            margin: 0 0 10px;
        }

            .table-title h2 {
                margin: 6px 0 0;
                font-size: 22px;
            }

            .table-title .add-new {
                float: right;
                height: 30px;
                font-weight: bold;
                font-size: 12px;
                text-shadow: none;
                min-width: 100px;
                border-radius: 50px;
                line-height: 13px;
            }

                .table-title .add-new i {
                    margin-right: 4px;
                }

        table.table {
            table-layout: fixed;
        }

            table.table tr th, table.table tr td {
                border-color: #e9e9e9;
            }

            table.table th i {
                font-size: 13px;
                margin: 0 5px;
                cursor: pointer;
            }

            table.table th:last-child {
                width: 100px;
            }

            table.table td a {
                cursor: pointer;
                display: inline-block;
                margin: 0 5px;
                min-width: 24px;
            }

                table.table td a.add {
                    color: #27C46B;
                }

                table.table td a.edit {
                    color: #FFC107;
                }

                table.table td a.delete {
                    color: #E34724;
                }

            table.table td i {
                font-size: 19px;
            }

            table.table td a.add i {
                font-size: 24px;
                margin-right: -1px;
                position: relative;
                top: 3px;
            }

            table.table .form-control {
                height: 32px;
                line-height: 32px;
                box-shadow: none;
                border-radius: 2px;
            }

                table.table .form-control.error {
                    border-color: #f50000;
                }

            table.table td .add {
                display: none;
            }
    </style>
</head>
<body>
   @*  <div class="ManageAdmin">
        <div class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8"><h2>Products <b>Details</b></h2></div>
                        <div class="col-sm-4">
                            <a class="btn btn-info add-new" asp-area="Admin" asp-controller="Product" asp-action="Add"><i class="fa fa-plus"></i> Add New</a>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Price</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                   
                   
                    @foreach (var item in Model.OrderByDescending(x => x.Price).ThenBy(x => x.Name))
                    {

                        <tbody>
                            <tr>
                                <td class="h5">@item.Name</td>
                                <td class="h5">@item.Mark</td>
                                <td class="h5">@item.Price $</td>
                                <td>
                                    <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                                    <a asp-route-id="@item.Id" asp-area="Admin" asp-controller="Product" asp-action="Edit" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                    <a asp-route-id="@item.Id" asp-area="Admin" asp-controller="Product" asp-action="Delete" class="delete" title="Delete" data-toggle="tooltip" method="get"><i class="material-icons">&#xE872;</i></a>
                                </td>
                            </tr>
                        </tbody>
                        totalProductCount++;

                    }
                </table>

                <h3>Total count of products:  @totalProductCount </h3>

            </div>
        </div>
    </div> *@



    <div class="ManageAdmin">
        <div class="container table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-8"><h2>Products <b>Details</b></h2></div>
                        <div class="col-4 text-right">
                            <a class="btn btn-info add-new" asp-area="Admin" asp-controller="Product" asp-action="Add"><i class="fa fa-plus"></i> Add New</a>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Price</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderByDescending(x => x.Price).ThenBy(x => x.Name))
                        {
                            <tr>
                                <td class="h5">@item.Name</td>
                                <td class="h5">@item.Mark</td>
                                <td class="h5">@item.Price $</td>
                                <td>
                                    <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                                    <a asp-route-id="@item.Id" asp-area="Admin" asp-controller="Product" asp-action="Edit" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                    <a asp-route-id="@item.Id" asp-area="Admin" asp-controller="Product" asp-action="Delete" class="delete" title="Delete" data-toggle="tooltip" method="get"><i class="material-icons">&#xE872;</i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="text-center">
                    <h3>Total count of products:  @totalProductCount </h3>
                </div>
            </div>
        </div>
    </div>


</body>
</html>

