@model IEnumerable<TrainerViewModel>
@using MyGymWeb.Infrastructure.Extensions;


@{
    
    ViewBag.Title = "Trainers";
}


<style>
    .trainer-container-bg {
        background-image: url('https://motionarray.imgix.net/preview-891187-wOvXOH2hVl-high_0000.jpg?w=660&q=60&fit=max&auto=format'); /* Replace 'your-background-image-url.jpg' with the actual URL of your background image */
        background-size: auto;
        background-position: center;
        
        
    }
</style>

<div class="TrainerContainer trainer-container-bg">
    <div class="container">
        <div class="row">                      
            @foreach (var trainer in Model.OrderByDescending(x => x.PricePerHour))
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card mb-2 h-100 red-border" style="width: auto">
                        <img class="card-img-top h-100 img-fluid;" src="@trainer.ImageUrl" alt="Trainer Image">
                        <div class="card-body text-center">

                            <h4 class="card-title mt-1">@trainer.Name</h4>
                            @if (trainer.IsAvailable)
                            {
                                <img class="w-100" style="width: 100%; height: auto;" src="https://t4.ftcdn.net/jpg/02/19/01/15/360_F_219011565_RO9mdUz9DdQ9y8WMy8WZywx96wWnb6ct.jpg" alt="Error">
                            }
                            else
                            {
                                <img class="w-100" style="width: 100%; height: auto;" src="https://media.istockphoto.com/id/1398189751/vector/unavailable-grunge-rubber-stamp.jpg?s=612x612&w=0&k=20&c=rktpTaFVqS1AdEpcshO7S1Fc1AXYmg4i6opm_R2AohI=" alt="Error">
                            }
                        </div>
                        <div class="d-flex justify-content-center">
                            <a asp-route-trainerId="@trainer.Id" asp-controller="Trainer" asp-action="Details" method="post" class="btn btn-primary btn-sm" style="margin-right: 5px;">
                                Details
                            </a>
                            @if (!User!.IsInRole("Administrator"))
                            {
                                <a asp-route-id="@trainer.Id" asp-controller="User" asp-action="Appointment" method="post" class="btn btn-warning btn-sm">
                                    Select
                                </a>
                            }
                            @if (User!.Identity!.IsAuthenticated && trainer.UserId == User.GetId())
                            {
                                <a asp-route-id="@trainer.Id" asp-controller="User" asp-action="Resign" class="btn btn-danger btn-sm" style="margin-left: 5px;" >
                                    Resign
                                </a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>







