@model TrainerViewModel

@{
    ViewBag.Title = "Trainer Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Trainer Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Name</u></p>
            <p>Personal Info: <b>@Model.Info</b></p>  
            <p>Practis: <b>@Model.Practis</b></p>
            <p>Moto: <b>@Model.Moto</b></p>
            <p>Price: <b>@Model.PricePerHour</b></p>
            <div class="form-inline">
                @if (this.User.Identity?.IsAuthenticated ?? false)
                {

                    <a class="ml-2 btn btn-danger" asp-controller="Trainer" asp-action="Pick Trainer"
                   asp-route-trainerId="@Model.Id">Pick</a>

                }
            </div>
        </div>
    </div>
</div>
