@model TrainerViewModel
@using MyGymWeb.Infrastructure.Extensions;



<div class="TrainerDetails">
    <div class="container" style="display:inline">
        <div class="row">
            <div class="col-4">

                <img class="card-img-top" style="width: 20rem; height: 280px"
                     src="@Model.ImageUrl" alt="Trainer Image">
            </div>
            <div class="card-body col-8 border-0" style="padding-right:20rem">
                <p style="font-size:25px; color:white"><u>@Model.Name</u></p>
                <p style="color:white">Personal Info: <b>@Model.Info</b></p>
                <p style="color:white">Practis: <b>@Model.Practis</b></p>
                <p style="color:white">Motto: <b>@Model.Motto</b></p>
                <p style="color:wheat">Price: <b>@Model.PricePerHour</b></p>
                <div class="form-inline">

                    @if (this.User.Identity?.IsAuthenticated ?? false)
                    {
                        if (!this.User.IsInRole("Administrator"))
                        {
                              <a class="ml-2 btn btn-danger" asp-controller="User" asp-action="Appointment"
                       asp-route-trainerId="@Model.Id">Pick</a>
                        }
                        
                    }
                </div>
            </div>
        </div>
    </div>
</div>

