@model AppointmentFormModel

@{
    ViewData["Title"] = "Appointment";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fancy Form</title>   
   
    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
</head>

<body>
    <div class="Appointments">
        <div class="container mt-5">
            <form method="post">             
                <div class="form-group app">
                    <label asp-for="@Model.AppointmentTime"><i style="color: white">Date</i></label>
                    <input asp-for="@Model.AppointmentTime" class="form-control" id="datetimeField" aria-required="true">
                    <span asp-validation-for="AppointmentTime" class="text-danger"></span>
                </div>              
                <div class="form-group">
                    <label asp-for="@Model.ClientFullName" class="form-label"><i style="color: white">Name</i></label>
                    <input asp-for="@Model.ClientFullName" class="form-control" aria-required="true" />
                    <span asp-validation-for="ClientFullName" class="text-danger"></span>
                </div>        
                <div class="form-group">
                    <label asp-for="@Model.Email" class="form-label"><i style="color: white">Email</i></label>
                    <input asp-for="@Model.Email" class="form-control" aria-required="true" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.TrainerName" class="form-label"><i style="color: white">TrainerName</i></label>
                    <input asp-for="@Model.TrainerName" class="form-control" aria-required="true" />
                    <span asp-validation-for="TrainerName" class="text-danger"></span>
                </div>
                <div class="mt-2">
                    <button asp-controller="User" asp-action="Appointment" type="submit" class="btn btn-primary">Submit</button>
                </div>
                
            </form>
        </div>
    </div>
  
 
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
       
        flatpickr('#datetimeField', {
            enableTime: true,
            noCalendar: false,
            dateFormat: 'Y-m-d H:i',
            time_24hr: true
        });
        
        flatpickr('#calendarField', {
            dateFormat: 'Y-m-d',
            time_24hr: true
        });
    </script>
</body>


