@model IEnumerable<ProductViewModel>


@{
    ViewBag.Title = "My Products";
}



<div class="productsForMe">
    @if (Model.Count() > 0)
    {
        <div class="MineProducts">
            <div class="container">

                <div class="text-center row">
                    @foreach (var product in Model)
                    {

                        <div class="card col-7 m-1" style="width: 18rem;">
                            <img class="card-img-top" style="width: 17rem; height:250px;"
                                 src="@product.ImageUrl" alt="Product Image">
                            <div class="card-body">

                                <h5 class="card-title mt-1">@product.Name</h5>
                                <p class="mb-0">Mark: @product.Mark</p>
                                <b class="mb-1">@product.Price$</b>


                            </div>
                            <div class="card-body">

                                <p>Products: @product.ProductCount</p>

                            </div>
                            @if (User?.Identity?.IsAuthenticated ?? false)
                            {
                                <div class="d-flex justify-content-center">
                                    <a asp-route-id="@product.Id" asp-controller="User" asp-action="Return" method="post">
                                        <input type="submit" value="Return" class="btn btn-primary btn-sm" />
                                    </a>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>

        </div>
    }
    else
    {
        <div class="MineNoProducts">
            <h3 class="text-lg-center"><i>There are no products in your bag !</i></h3>
        </div>

    }
</div>





