@model RegisterFormModel

@{
    ViewData["Title"] = "Register";
}


<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          The best Gym <br />
          <span style="color: hsl(218, 81%, 75%)">for your body</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
         Buying fitness gifts for health junkies and outdoor enthusiasts can be tricky because they often know exactly what they like — and in most cases, they already own it. Whether your recipient loves to hit the trails on the weekends or get a run in at the crack of dawn or works out indoors, there’s a fitness gift for everyone who obsessed with breaking a sweat. With so many competing brands all boasting the latest and greatest workout gear, it’s tough to choose a gift that won’t collect dust. But that doesn’t mean that it’s impossible to find the perfect gift for the fitness lover in your life this year.
        </p>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>      
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label asp-for="@Model.FirstName">FirstName</label>
                    <input class="form-control " autocomplete="username" aria-required="true" asp-for="@Model.FirstName" />
                    <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label asp-for="@Model.LastName">LastName</label>
                    <input class="form-control" type="text" aria-required="true" asp-for="@Model.LastName" />
                    <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                  </div>
                </div>
              </div>
              <div class="form-outline mb-4">
                <label asp-for="@Model.Email">Email</label>
                <input class="form-control" type="text" aria-required="true" asp-for="@Model.Email" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
              </div>           
              <div class="form-outline mb-4">
                <label asp-for="@Model.Password">Password</label>
                <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.Password" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
              </div>
              <div class="form-outline mb-4">
                  <label asp-for="@Model.ConfirmPassword">Confirm Password</label>
                  <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.ConfirmPassword" />
                  <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
              </div>              
              <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                <label class="form-check-label" for="form2Example33">
                  Subscribe to our newsletter
                </label>
              </div>           
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Sign up
              </button>                    
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
