@model IEnumerable<TrainerQuitViewModel>

@{
    ViewBag.Title = "Applications";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="ApplyUsers" style="background-color:black">
    <div class="container">
        <table class="table table-striped" style="color: white">
            <thead>
                <tr>
                    <th><label class="text-white">Full Name</label></th>
                    <th><label class="text-white">Practis</label></th>
                    <th><label class="text-white">Phone Number</label></th>
                    <th><label class="text-white">Reason</label></th>
                    <th><label class="text-white">Actions</label></th>
                </tr>
            </thead>
            @foreach (var user in Model)
            {
                <tbody>
                    <tr>
                        <td><label class="text-white">@user.Name</label></td>
                        <td><label class="text-white">@user.Practis</label></td>
                        <td><label class="text-white">@user.PhoneNumber</label></td>
                        <td><label class="text-white">@user.ForApplication</label></td>
                        <td>

                            @if (user.ForApplication == "For Application")
                            {
                                <a asp-route-id="@user.Id" asp-area="Admin" asp-controller="Apply" asp-action="Delete" class="delete" title="Delete" data-toggle="tooltip" method="get"><i class="material-icons">&#10008;</i></a>
                                <a asp-route-id="@user.Id" asp-area="Admin" asp-controller="Apply" asp-action="Approve" class="Approve" title="Approve" data-toggle="tooltip" method="post"><i class="material-icons">✔️</i></a>
                            }
                            else
                            {
                                <a asp-route-id="@user.Id" asp-area="Admin" asp-controller="Apply" asp-action="Delete" class="reject" title="Reject" data-toggle="tooltip" method="get"><i class="material-icons">&#10008;</i></a>
                                <a asp-route-id="@user.Id" asp-area="Admin" asp-controller="Trainer" asp-action="DeleteForApply" class="delete" title="Delete" data-toggle="tooltip" method="post"><i class="material-icons">✔️</i></a>

                            }
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>


